﻿@using CompanyManagementMVC.Models;
@model EmployeesModel

@{
    string employeeType = Model.IsManager ? "managers" : "devs";
}

<div class="container">
    <h1 class="lead text-center">Managers that manages some devs and no one of them has higher salary than manager itself </h1>
    <table class="table table-bordered table-dark ">
        <thead>
            <tr>
                <th>First Name</th>
                @if (Model.IsManager)
                {
                    <th>Last Name</th>
                }
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Employees ?? new List<EmployeeShort>())
            {
                <tr>
                    <td>@e.FirstName</td>
                    @if (Model.IsManager)
                    {
                        <td>@e.LastName</td>
                    }
                    <td>@e.Salary</td>
                </tr>   
            }
        </tbody>
    </table>
  </div>

<script>
    $(function (){
        $("a").removeClass("active");
        let aElemSelector = 'a[href$="@employeeType"]'; 

        $(aElemSelector).addClass("active");
    });
</script>